* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.skills {
    position: relative;
    display: flex;
    min-width: 100%;
    min-height: 100%;
    border-radius: 75px;
    overflow: hidden;
}

.heading {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background: none;
}

.skills:hover {
    cursor: pointer;
}

.box {
    align-self: center;
    background: none;
    display: none;
}

.span {
    display: inline-block;
    background: none;
}

.span span {
    background: none;
    margin: 0 3rem;
}

.skills:hover .box {
    animation: slide 16s linear infinite;
    display: block;
}

.skills:hover .heading {
    display: none;
}


@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}