.contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 75px;
    overflow: hidden;
    position: relative;
  }
  
  .heading {
    transition: transform 0.5s ease-in-out;
    color: #F2D8D8;
  }
  
  .icons {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 1rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    padding: 1rem;
  }
  
  .icon {
    background: none;
    transition: transform 0.3s ease-in-out;
  }
  
  .contact:hover .icons {
    opacity: 1;
  }
  
  .contact:hover .icon {
    transform: rotate(360deg);
  }

  .contact:hover .heading {
    transform: translateX(-100%);
    opacity: 0;
  }
  .contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 75px;
    overflow: hidden;
    position: relative;
  }
  
  .heading {
    transition: transform 0.5s ease-in-out;
    color: #F2D8D8;
  }
  
  .icons {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 1rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    padding: 1rem;
  }
  
  .icon {
    background: none;
    transition: transform 0.3s ease-in-out;
  }
  
  .contact:hover .icons {
    opacity: 1;
  }
  
  .contact:hover .icon {
    transform: rotate(360deg);
  }

  .contact:hover .heading {
    transform: translateX(-100%);
    opacity: 0;
  }
  